@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


html {
    background-color: #C2C2C2;
}
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif
}

div{

    background-color: #eee;

}
.col-md-6{
    background-color: #eee;
}

.card {
    border: none;
    overflow: hidden
}

.thumbnail_images ul {
    list-style: none;
    justify-content: center;
    display: flex;
    
    align-items: center;
    margin-top: 10px
}

.thumbnail_images ul li {
    margin: 5px;
    padding: 10px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: all 0.5s
}

.thumbnail_images ul li:hover {
    border: 2px solid #000
}

.main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 400px;
    width: 100%;
    overflow: hidden
}
.card {
    background-color: #fff;
    padding: 14px;
    border: none
}

.demo {
    width: 100%
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0
}

li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer
}

img {
    display: block;
    height: auto;
    width: 100%
}

.colors {
    margin-top: 5px
}
.colors ul {
    list-style: none;
    display: flex;
    padding-left: 0px
}

.colors ul li {
    height: 20px;
    width: 20px;
    display: flex;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer
}

.colors ul li:nth-child(1) {
    background-color: #263f55
}

.colors ul li:nth-child(2) {
    background-color: #96918b
}

.colors ul li:nth-child(3) {
    background-color: #68778e
}



hr {
    color: #d4d4d4
}



.card-body {
    padding: 0.3rem 0.3rem 0.2rem
}

.dim{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    // font-family: Futura, Helvetica Neue, sans-serif;
    // font-size: 18px;
    font-weight: 700;
    // max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    // position: absolute;
    width: max-content;
    // height: max-content;
    // transform: translate3d(-50%, -50%, 0);
    --min-hotspot-opacity: 0;
    margin-top: 100px;
    margin-left: 90px;
  }
  .qrcode{

    padding: 5px;

  width: 150px;

  height: 150px;

 

}

.qrtext{

   

    font-weight: bold;



}

.fa fa-android{

   

    color: #99cc00;

}
