<div style="background-color: #eee;height:100%; ">
  <!-- <section class="mb-5"> -->




  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">

      <div id="mdb-lightbox-ui"></div>

      <div class="mdb-lightbox">

        <div class="row product-gallery mx-1">

          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">

              <!--<img src={{data.Product_Image}} id="main_product_image" width="350"
                    class="img-fluid z-depth-1">-->
              <!-- <div class="model-viewer" id="model-viewer">
                      <img src="" alt="" onclick="myfunc()">
                    </div> -->
              <!-- <model-viewer src={{data.Src}} ios-src={{data.IosSrc}} poster={{data.Product_Image}}
                alt="A 3D model of an astronaut" shadow-intensity="1" camera-controls auto-rotate ar
                ar-modes="webxr scene-viewer quick-look">
              </model-viewer> -->
              <div class="swiper-container zoom-top ">
                <div class="swiper-wrapper">
                  <!-- <model-viewer id="model-viewer-id" ar ar-modes="scene-viewer webxr quick-look" ar-scale="fixed"
                    camera-orbit="-30deg auto auto" max-camera-orbit="auto 100deg auto" camera-controls src={{data.Src}}
                    ios-src={{data.IosSrc}} alt="A 3D model of an astronaut" background-color="#9FB8AD"
                    shadow-intensity="1" loading="lazy" poster={{data.Product_Image}} ar-status="not-presenting"
                    style="background-color: rgb(238, 238, 238); width: 400px; height: 300px;">
                    <br>
                    <div *ngIf="variants.length>0" id="controls" class="dim" style="position: absolute; top:10px">

                      <select id="src" (change)="onSelect($event.target.value)" placeholder="Re">
                        <label for="src">Product:</label>
                        <option *ngFor="let v of variants" value={{v.Model_ID}}>{{v.Name}}</option>
                      </select>


                    </div>
                  </model-viewer> -->

                  <!--new model-->
                  <model-viewer id="dimension-demo" ar ar-modes="webxr" ar-scale="fixed" camera-orbit="-30deg auto auto"
                    max-camera-orbit="auto 100deg auto" shadow-intensity="1" camera-controls src={{data.Src}}
                    ios-src={{data.IosSrc}} alt="A 3D model of an armchair." poster={{data.Product_Image}}
                    loading="lazy" style="background-color: rgb(238, 238, 238); width: 400px; height: 300px;">

                    <div *ngIf="variants.length>0" id="controls" class="dim">
                      <label for="src">Variants :&nbsp; </label>
                      <select id="src" (change)="onSelect($event.target.value)">
                        <option *ngFor="let v of variants" value={{v.Model_ID}}>{{v.Name}}</option>

                      </select><br>


                    </div>
                  </model-viewer>

                </div>
              </div>


            </figure>
            <!-- <div class="thumbnail_images">
              <ul id="thumbnail">
                <li><img onclick="changeImage(this)" src="https://i.imgur.com/TAzli1U.jpg" width="70"></li>
                <li><img onclick="changeImage(this)" src="https://i.imgur.com/w6kEctd.jpg" width="70"></li>
                <li><img onclick="changeImage(this)" src="https://i.imgur.com/L7hFD8X.jpg" width="70"></li>
                <li><img onclick="changeImage(this)" src="https://i.imgur.com/6ZufmNS.jpg" width="70"></li>
              </ul>
            </div> -->
          </div>



        </div>

      </div>

    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2>{{data.Name}}</h2>
            <p class="mb-2 text-muted text-uppercase small">{{data.SubCategory}}</p>
            <p><span class="mr-1"><strong>$ {{data.Price}}</strong></span></p>
          </div>

        </div>
      </div>


      <p class="pt-1">{{data.Description}}</p>




      <!-- Section: Color -->

      <hr>

      <button type="button" class="btn btn-primary btn-md mr-1 mb-2">Buy now</button>
      <button type="button" class="btn btn-light btn-md mr-1 mb-2"><i class="fas fa-shopping-cart pr-2"></i>Add to
        cart</button>
    </div>
  </div>

  <!-- </section> -->
</div>
