<app-header></app-header>
<div class="home-container">

  <div class="row justify-content-center text-center">
    <div class="col-md-8 col-lg-6">
      <div class="header">
        <!-- <h3>Featured Product</h3> -->
        <h2 style="color: #444444 !important;">Categories</h2>
      </div>
    </div>

  <div class="categories">
    <div class="categories__header">
    
    </div>
    <div class="categories__list">
      <swiper [navigation]="true" [zoom]="false" [slidesPerView]="screenWidth > 1200 ? 3 : 1" [spaceBetween]="50" [pagination]="true"
        [loop]="true">
         <ng-template swiperSlide *ngFor="let c of categories">
          <a (click)="categorySelect(c.type)">
            <div class="category-card" style="background:url({{c.img}})">{{ c.type }}</div>
          </a>
          
        </ng-template>
      </swiper>
    </div>
  </div>
  
  
</div>

<app-products-card [category]=category></app-products-card>
